// This is the styling for the banner, which is consistently displayed on each page
.banner {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0.5em;
}
.studbud-logo {
  width: 3em;
  height: 3em;
}

// This is the styling for each of the containers on each page, which holds all of the content

.app-container {
  background-color: #fbfbfb;
}

.home-container {
  display: flex;
  width: 100%;
}

.prepare-container {
}

.practice-container {
  margin-left: 5em;
  padding-left: 7em;
}

.revise-container {
  margin-left: 5em;
  padding-left: 7em;
}

